*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    
     background: #f5b25b;;
}

.container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.box{
    
    background: #ffffff;
    border-radius: 12px;
    margin: 15px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
      
}
.box:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}


.color-box:active {
    transform: scale(0.95);
}
.box .color-box:hover{
    background: #d8ccff;
}
.color-box{
    height: 140px;
    width: 155px;
    transition: transform 0.3s ease;
    position: relative;
    height: 140px;
    border-radius: 10px;
    overflow: hidden; 
}
.color-code{
    font-size: 1.1rem;
    font-weight: 600;
    color: #222;
}
.hover-code{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    
    font-size: 1rem;
    font-weight: 600;
    
    opacity: 0;
    transition: all 0.25s ease;
}

.color-box:hover .hover-code{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.color-text{
    font-size: 0.8rem;
    color: #888;
    margin-top: 12px;
    letter-spacing: 0.5px;
}

.box .color-box:hover{
    transform: scale(1.05);
}

.choice{
  border: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}


/* ---------- CONTROLS WRAPPER ia started here ---------- */

.controls{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}


/* ---------- RADIO GROUP ---------- */

.choice{
    display: flex;
    gap: 10px;
    background: white;
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* hide default radio */
.choice input[type="radio"]{
    position: absolute;
    opacity: 0;
}

/* label style */
.choice label{
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
    color: #444;
}

/* hover effect */
.choice label:hover{
    background: #f3f6ff;
}

/* checked radio style */
.choice input[type="radio"]:checked + label{
    background: #4A8F93;
    color: white;
    box-shadow: 0 4px 10px rgba(99,102,241,0.3);
}
    


/* ---------- SELECT DROPDOWN ---------- */

#format{
    appearance: none;
    border: none;
    outline: none;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
    transition: all 0.25s ease;
}

/* hover */
#format:hover{
    box-shadow: 0 10px 22px rgba(0,0,0,0.22);
    background: #f3f6ff;
}


/* ---------- BUTTON ---------- */

.refresh{
    border: none;
    outline: none;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    background:#4A8F93;
    color: white;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 10px 20px rgba(99,102,241,0.25);
    margin-bottom: 1.5em;
}

/* hover */
.refresh:hover{
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgba(99,102,241,0.35);
}

/* click */
.refresh:active{
    transform: scale(0.96);
}

/*Hero*/

.hero {
  height: 100vh;
  background: #7fc4c8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  overflow: hidden;
}


.wave {
  position: absolute;
  width: 100px;
  opacity: 0.8;
}

.wave path {
  stroke: rgba(255,255,255,0.6);
  stroke-width: 1.9;
  fill: none;
}

/* POSITIONS */
.wave1 {
  top: 20%;
  left: 15%;
}

.wave2 {
  top: 40%;
  left: 70%;
  transform: scale(0.8);
}

.wave3 {
  top: 60%;
  left: 30%;
  transform: scale(1.2);
}
.hero h1 {
  font-size: 48px;
  letter-spacing: 15px;
  color: rgba(255,255,255,0.85);
  font-weight: 300;
}

.hero p {
  margin-top: 10px;
  margin-bottom: 25px;
  color: rgba(255,255,255,0.7);
  font-weight: 600;
}

.goTo {
    border: none;
    outline: none;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 10px;
    background: #f5b25b;
    color: rgba(255,255,255,0.85);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 10px 20px rgba(99,102,241,0.25);
    margin: 1.5em;
}
#toast{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(100px);

    background: #012628;
    color: #fff;

    padding: 12px 20px;
    border-radius: 10px;

    font-size: 0.9rem;
    font-weight: 500;

    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

#toast.show{
    opacity: 1;
    transform: translateX(50%) translateY(-150%);
}
